
body {
    background-image: url(images/pen_and_paper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#container {
    width:1050px;
    /*border:1px solid grey;*/
    margin:0 auto;
}


h1 a{
    font-size: 50px;
    font-weight: 100;
    color : goldenrod;
    text-decoration: none;
}
#header{
    height: 100px;
    padding :10px 0;
}


.

.clear {
    clear : both;
}
#menu{
    height: 70px;
    /*background: :linear-gradient(#F8F594,#D5D533);*/
   
    padding: 7px 0;
}
ul{
    list-style: none;
}

#menu ul li{
    float:left;
    padding:0 30px;
    height: 30px;
    border-right: 1px solid goldenrod;
}

#menu ul li:last-child{
    border-right:none;
}

#menu ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    color:goldenrod;
    line-height: 30px;
    transition: font-size 0.3s ease;
    -ms-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
   -webkit-transition: font-size 0.3s ease;
   -o-transition: font-size 0.3s ease;
    
    
}

#menu ul li a:hover , #menu ul li a.active{
  font-size: 20px;
    font-weight: bold;
    color: white;
}
#introduction {
    
    height: 300px;
    padding:30px;
    margin: 1px 0;
}

#introduction h3{
    font-size: 45px;
    color: goldenrod;
    font-weight: normal;
    margin-top: 0px
}

#introduction p{
    font-size: 25px;
   color:goldenrod;
    
    text-align: justify;
}




#linker {
    text-decoration: none;
    
}

#container {
    
}

div {
    
}

#sid {
    text-decoration: none;
    color: white;
    
}

#shr {
    text-decoration: none;
    color: white;
}

#micky {
    text-decoration: none;
    color: white;
}

#manu {
    text-decoration: none;
    color: white;
}

#list {
    color: white;
    font-size: 25px;
}

#container {
    
}

body {
    background-image: url(images/2016-Football-Players-Wallpapers-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
